.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles__filter {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--clr-light-blue);
    border: solid 1px var(--ff-secondary);
    border-radius: 50px;
    box-shadow: var(--bs);
}

.articles__filter__button {
    background-color: inherit;
    border: none;
}

.articles__filter__button:hover {
    cursor: pointer;
    border: 0 1rem solid var(--clr-light-blue);

}

.article__body {
    display: flex;
    align-content: center;
    justify-content: center;
    background: var(--clr-dark);
    border-radius: 15px;
    border: 0.5px solid var(--clr-accent);
    z-index: 1;
    box-shadow: var(--bs);
}

.article__content_container {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "Title Title"
                         "Author Topic"
                         "Votes Comments"
                         "Date Date"
                         "Body Body";
    background-color: var(--clr-slate);
    border-radius: 10px;
}

.article__title {
    display: flex;
    text-align: center;
    justify-content: center;
}

.Link {
    grid-area: Title;
    display: flex;
    text-align: center;
    justify-content: center;
    background: var(--clr-accent);
    border-radius: 10px;
    box-shadow: var(--bs);
    margin: 0.25rem;
}

.article__topic {
    grid-area: Topic;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-align: center;
    color:var(--clr-light);
    border: 0.5px solid var(--clr-accent);
    border-radius: 10px;
    box-shadow: var(--bs);
}

.article__author {
    grid-area: Author;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-light);
    margin: 1rem;
    border: 0.5px solid var(--clr-accent);
    border-radius: 10px;
    box-shadow: var(--bs);
}

.article__created {
    grid-area: Date;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-light);
    margin: 1rem;
    font-size: 0.75rem;
    border-top: 1px solid var(--clr-accent);
}

.comments {
    grid-area: Comments;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.comment__icon{
    width: 5rem;
    margin: 0.7rem;
    padding: 0.5rem;
    border-radius: 5px;
    background: var(--clr-light-blue);
    box-shadow: var(--bs);
}
.comment__count {
    position: relative;
    color: var(--clr-slate);
    font-size: var(--fs-h3);
    left: -2rem;
    top: 2rem;
}

.votes {
    grid-area: Votes;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}


//3D workings.

.viewport { 
    height: calc(var(--viewportHeight) * 1px);
}

.viewport .scene3D-container {
position: fixed;
top: 270px;
left: 0;
width: 100%;
height: 20%;
perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc( var(--scenePerspectiveOriginY) * 1% );
will-change: perspective-origin;
transform: translate3d( 0, 0, 0 ); /*Allows Hardware-Accelerated CSS, so transitions are smoother */
}

.viewport .scene3D-container .scene3D { 
    position: absolute; top: 0;
    height: 30vh;
    width: 100%;
    transform-style: preserve-3d;
    transform: translateZ(calc(var(--cameraZ) * 1px));
    will-change: transform; 
   }

   .viewport .scene3D-container .scene3D {
    > div { 
     position: absolute; 
     display: block; 
     width: 100%; 
     top: 40%; 
     @media only screen and (min-width: 600px) { 
       width: 45%; 
     } 
     &:nth-child(2n) { left: 10px; } 
     &:nth-child(2n + 1) { right: 10px; } 
     @for $i from 0 through 36 { 
      &:nth-child(#{$i}) { 
       transform: translate3D( random(50) - 25 * 1%, random(100) - 50 * 1%, calc(var(--itemZ) * var(--cameraSpeed) * #{$i} * -1px) ); 
      } 
     } 
    } 
   }