.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles__filter {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--clr-light-blue);
    border: solid 1px var(--ff-secondary);
    border-radius: 50px;
    box-shadow: var(--bs);
}

.articles__filter__button {
    background-color: inherit;
    border: none;
}