.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    background-color: var(--clr-accent);
    box-shadow: var(--bs-header);

    margin-bottom: 0.5rem;
}

.header__title {
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
}

.header__username {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    padding: 0.7rem;
    margin-right: 1rem;
    border: 1px solid var(--clr-light-blue);
    border-radius: 50px;
    align-self: center;
}