.navbar__container {
    overflow: hidden;
    background-color: inherit;
    height: inherit;
    width: 8rem;
    margin: 0.5rem;
    border-radius: 50px;
    border: 1px solid var(--clr-light-blue);
    color: var(--clr-dark);
}

.navbar {
    overflow: hidden;
    height: inherit;
}

.navbar__container a {
    font-size: var(--fs-body);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }

.navbar .dropbtn {
    font-size: var(--fs-body);  
    border: none;
    outline: none;
    color: white;
    height: 100%;
    padding: 12px 16px;
    background-color: inherit;
    font-family: inherit;
    width: 8rem;
}

.dropbtn__link {
    margin: 0;
    padding: 0;
}

.navbar__container:hover, .navbar__container a:hover, .navbar:hover, .dropbtn:hover {
    background-color: var(--clr-light-blue);
    border-radius: 50px;
    color: white;
  }

.navbar__topics {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar__topics a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar__topics a:hover {
    background-color: var(--clr-light-blue);
}

.navbar:hover .navbar__topics {
    display: block;
    border-radius: 25px;
    color: white;
}