* {
  margin: 5;
  padding: 0;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  background-color: rgb(204, 204, 204);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  margin-top: 0;
  background-color: rgb(187, 187, 187);
  padding: 2em;
}

.navbar {
  background-color: rgb(183, 188, 194);
  padding: 0.5em;
}

.navbar__topic {
  padding: 0.2em;
  background-color: rgb(183, 188, 194);
}

.article {
  padding: 0.2em;
  background-color: rgb(183, 188, 194);
}

.article__body {
  border-radius: 20%;
  padding: 0;
  margin: 0;
}
